#cloud-config
hostname: sklein-devbox-dev
fqdn: sklein-devbox-dev.homelab.stephane-klein.info
prefer_fqdn_over_hostname: true
create_hostname_file: true
write_files:
  - path: /tmp/netbird-setup-key
    content: {{ ENV.NETBIRD_SETUP_KEY }}
    permissions: "0600"
  - path: /tmp/netbird-api-token
    content: {{ ENV.NETBIRD_PAT }}
    permissions: "0600"
{%- if ENV.GOPASS_AGE_PASSWORD is defined and ENV.GOPASS_AGE_PASSWORD %}
  - path: /tmp/sklein-devbox-gopass-age-password
    content: {{ ENV.GOPASS_AGE_PASSWORD | tojson }}
    permissions: "0600"
    owner: devbox:devbox
{%- endif %}
{%- if ENV.SSH_STEPHANE_KLEIN_DEVBOX is defined and ENV.SSH_STEPHANE_KLEIN_DEVBOX %}
  - path: /home/devbox/.ssh/stephane-klein-devbox
    content: |
{{ ENV.SSH_STEPHANE_KLEIN_DEVBOX | indent(6, true) }}
    permissions: "0600"
    owner: devbox:devbox
    defer: true
{%- endif %}
{%- if ENV.SKLEIN_DEVBOX_SECRETS_AGE_KEYRING_B64 is defined and ENV.SKLEIN_DEVBOX_SECRETS_AGE_KEYRING_B64 %}
  - path: /home/devbox/.config/gopass/age/identities
    encoding: b64
    content: {{ ENV.SKLEIN_DEVBOX_SECRETS_AGE_KEYRING_B64 }}
    permissions: "0600"
    owner: devbox:devbox
    defer: true
  - path: /home/devbox/.config/gopass/config
    content: |
      [mounts]
              path = /home/devbox/.local/share/gopass/stores/root
      [recipients]
              hash = 3ee561c30c8c84a3462a2c948d4595c3e1ff122ed42e43f74c9086b5d9ffce30
      [age]
              agent-timeout = 604800
              agent-enabled = true
      [core]
              auto = false
              autopush = false
    permissions: "0600"
    owner: devbox:devbox
    defer: true
{%- endif %}
{%- if ENV.DEVBOX_SSH_CONFIG is defined and ENV.DEVBOX_SSH_CONFIG %}
  - path: /home/devbox/.ssh/config
    content: |
{{ ENV.DEVBOX_SSH_CONFIG | indent(6, true) }}
    permissions: "0600"
    owner: devbox:devbox
    defer: true
{%- endif %}
runcmd:
  - [bash, /usr/local/sbin/enroll-netbird.sh, /tmp/netbird-setup-key, /tmp/netbird-api-token]
{%- if ENV.SKLEIN_DEVBOX_GIT_CLONE is defined and ENV.SKLEIN_DEVBOX_GIT_CLONE %}
  - [su, devbox, -c, "mkdir -p ~/.local/share && git clone --branch {{ ENV.SKLEIN_DEVBOX_GIT_BRANCH }} --single-branch https://github.com/stephane-klein/sklein-devbox.git ~/.local/share/sklein-devbox"]
{%- endif %}
{%- if ENV.SKLEIN_DEVBOX_BOOTSTRAP is defined and ENV.SKLEIN_DEVBOX_BOOTSTRAP %}
  - [su, devbox, -c, "bash $HOME/.local/share/sklein-devbox/bootstrap-sklein-devbox.sh"]
{%- endif %}
users:
  - name: devbox
    ssh_authorized_keys:
      - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQDEzyNFlEuHIlewK0B8B0uAc9Q3JKjzi7myUMhvtB3JmA2BqHfVHyGimuAajSkaemjvIlWZ3IFddf0UibjOfmQH57/faxcNEino+6uPRjs0pFH8sNKWAaPX1qYqOFhB3m+om0hZDeQCyZ1x1R6m+B0VJHWQ3pxFaxQvL/K+454AmIWB0b87MMHHX0UzUja5D6sHYscHo57rzJI1fc66+AFz4fcRd/z+sUsDlLSIOWfVNuzXuGpKYuG+VW9moiMTUo8gTE9Nam6V2uFwv2w3NaOs/2KL+PpbY662v+iIB2Yyl4EP1JgczShOoZkLatnw823nD1muC8tYODxVq7Xf7pM/NSCf3GPCXtxoOEqxprLapIet0uBSB4oNZhC9h7K/1MEaBGbU+E2J5/5hURYDmYXy6KZWqrK/OEf4raGqx1bsaWcONOfIVXbj3zXTUobsqSkyCkkR3hJbf39JZ8/6ONAJS/3O+wFZknFJYmaRPuaWiLZxRj5/gw01vkNVMrogOIkQtzNDB6fh2q27ghSRkAkM8EVqkW21WkpB7y16Vzva4KSZgQcFcyxUTqG414fP+/V38aCopGpqB6XjnvyRorPHXjm2ViVWbjxmBSQ9aK0+2MeKA9WmHN0QoBMVRPrN6NBa3z20z1kMQ/qlRXiDFOEkuW4C1n2KTVNd6IOGE8AufQ== contact@stephane-klein.info
