{
  "opencode-go": {
    "type": "api",
    "key": "{{ secret(name="OPENCODE_GO_APIKEY") }}"
  },
  "openrouter": {
    "type": "api",
    "key": "{{ secret(name="OPENROUTER_SKLEIN_DEVBOX_APIKEY") }}"
  },
  "deepseek": {
    "type": "api",
    "key": "{{ secret(name="DEEPSEEK_COM_OPENCODE_SKLEIN_DEVBOX_APIKEY") }}"
  }
}
